{% extends 'base.html.twig' %}

{% block title %}SAFAnime Home{% endblock %}

{% block body %}

<div class="text-center px-4">
    <h1 class="mt-10 text-9xl font-extrabold tracking-wide mb-6">SAFAnime</h1>
    <p class="text-2xl text-violet-200">
        Tu página donde podrás valorar los animes que te ves
    </p>
</div>
{% endblock %}
