<footer class="w-full bg-violet-300 text-violet-900 py-4 mt-10">
    <div class="max-w-7xl mx-auto px-4 text-center text-sm">
        <p>© {{ "now"|date("Y") }} SAFAnime — Tu sitio de reseñas de anime</p>
    </div>
</footer>
