{{ form_start(form_opinion, {'action': path('app_opinion_new', {'animeId': anime.id})}) }}
    {{ form_widget(form_opinion) }}
<button type="submit" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded mt-2">
    Enviar opinión
</button>
{{ form_end(form_opinion) }}

